:root {
  --gray1-color: #888888;
  --gray2-color: #fafafa;
  --gray3-color: #f5f5f5;
  --gray4-color: #dfdfdf;
  --gray5-color: #d9d9d9;
  --blue-color: #118ab2;
  --green-color: #06d6a0;
  --yellow-color: #ffd166;
  --red-color: #ef476f;
  --midnight-color: #073b4c;
  --light-color: #f8f9fa;
  --white-color: #ffffff;
  --black-color: #262626;
  --dark-color: #000000;

  --font-body: "SF Pro Display";
  --font-code: "Fira Code", monospace;
  --font-heading: "Piazzolla", serif;
  --font-paragraph: "Montserrat", sans-serif;
  --font-sidebar: "Inter", sans-serif;
}

* {
  color: var(--black-color);
  font-family: var(--font-body);
  font-style: normal;
  font-weight: 400;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
  font-weight: 600;
}

h1 {
  font-size: 32px;
  line-height: 38px;
}

h2 {
  font-size: 28px;
  line-height: 32px;
}

h3 {
  font-size: 24px;
  line-height: 28px;
}

h4 {
  font-size: 20px;
  line-height: 24px;
}

h5 {
  font-size: 16px;
  line-height: 20px;
}

h6 {
  font-size: 12px;
  line-height: 16px;
}

p {
  font-family: var(--font-paragraph);
  font-size: 16px;
  line-height: 24px;
}
