.button {
  background-color: var(--light-color);
  font-family: var(--font-paragraph);
  font-size: 16px;
  line-height: 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  border: none;
  border-radius: 8px;
  padding: 8px 16px;
  cursor: pointer;
}

.button--primary {
  background-color: var(--blue-color);
  color: var(--white-color);
}

.button--secundary {
  background-color: var(--gray1-color);
  color: var(--white-color);
}

.button--success {
  background-color: var(--green-color);
  color: var(--white-color);
}

.button--warning {
  background-color: var(--yellow-color);
  color: var(--white-color);
}

.button--danger {
  background-color: var(--red-color);
  color: var(--white-color);
}

.button--transparent {
  background-color: transparent;
}

.button--icon {
  height: 40px;
}

.button--small {
  padding: 4px 8px;
}

.button--large {
  padding: 12px 32px;
}
