.code_line,
.code_line span {
  font-family: var(--font-code);
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
}

.code_line--tag {
  color: var(--blue-color);
}

.code_line--attribute {
  color: var(--red-color);
}

.code_line--value {
  color: var(--yellow-color);
}

.identation {
  margin: 0 0 0 16px;
}
