.wrapper {
  background-color: var(--gray2-color);
  min-height: 100vh;
}

main {
  background-color: var(--white-color);
  width: 75%;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
}

.container {
  flex: 4;
  display: flex;
  flex-direction: column;
  gap: 16px;
  border: 1px solid var(--gray2-color);
  padding: 16px 8px;
}

.title {
  color: var(--dark-color);
  font-family: var(--font-body);
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
}

.subtitle {
  color: var(--dark-color);
  font-family: var(--font-body);
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
}

.section_content {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.code_content {
  background-color: var(--gray3-color);
  display: flex;
  flex-direction: column;
  padding: 20px;
}

/** Headings section **/

.headings__content {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

/** Paragraph section **/

.paragraph_content span {
  font-weight: 700;
}

/** Quote section **/

.quote_content blockquote {
  display: flex;
  flex-direction: column;
  gap: 16px;
  border: 1px solid var(--gray5-color);
  padding: 16px;
}

.quote_content h6 {
  text-transform: uppercase;
}

/** Colors section **/

.colors_content {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 16px;
}

.color_element {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.color_element__img {
  height: 24px;
  width: 24px;
  border-radius: 24px;
}

.color_element--blue {
  background-color: var(--blue-color);
}

.color_element--green {
  background-color: var(--green-color);
}

.color_element--yellow {
  background-color: var(--yellow-color);
}

.color_element--red {
  background-color: var(--red-color);
}

.color_element--midnight {
  background-color: var(--midnight-color);
}

.color_element--light {
  background-color: var(--light-color);
}

.color_element--white {
  background-color: var(--white-color);
}

.color_element--gray {
  background-color: var(--gray1-color);
}

.color_element--black {
  background-color: var(--black-color);
}

.color_element__name {
  font-family: var(--font-body);
  font-size: 14px;
  line-height: 22px;
}

/** Buttons section **/

.buttons_content {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: 8px;
}

/** Images section **/

.images_content {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 32px;
  padding: 16px 8px;
}

.image_element {
  background-image: url("https://via.placeholder.com/100");
  width: 100px;
  height: 100px;
  border-radius: 4px;
}

.image_element--circle {
  border-radius: 100px;
}

.image_element--shadow {
  filter: drop-shadow(0px 8px 12px rgba(0, 0, 0, 0.2));
}
