.wrapper {
  background-color: var(--gray2-color);
  min-height: 100vh;
}

main {
  background-color: var(--white-color);
  width: 75%;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
}

.container {
  background-color: khaki;
  flex: 4;
  display: flex;
  flex-direction: column;
  gap: 16px;
  border: 1px solid var(--gray2-color);
  padding: 16px 8px;
}

.title {
  color: var(--dark-color);
  font-family: var(--font-body);
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
}

.subtitle {
  color: var(--dark-color);
  font-family: var(--font-body);
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
}

.section_content {
  background-color: hotpink;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.code_content {
  background-color: var(--gray3-color);
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.headings__content {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.paragraph_content span {
  font-weight: 700;
}
