.sidebar {
  flex: 1;
  border: 1px solid var(--gray2-color);
}

.sidebar li {
  padding: 9px 16px;
  cursor: pointer;
}

.sidebar li:hover {
  background-color: #e6f7ff;
}

.sidebar li:hover p {
  color: #1890ff;
}

.sidebar a {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.sidebar p {
  color: rgba(0, 0, 0, 0.65);
  font-family: var(--font-sidebar);
  font-size: 14px;
  line-height: 22px;
}

.sidebar span {
  color: rgba(0, 0, 0, 0.65);
  font-size: 12px;
  font-weight: 700;
}
