.tab {
  background-color: var(--light-color);
  color: var(--gray1-color);
  font-family: var(--font-paragraph);
  font-size: 16px;
  line-height: 24px;
  border: none;
  border-radius: 2px 2px 0px 0px;
  box-shadow: inset 1px 0px 0px var(--gray1-color),
    inset -1px 0px 0px var(--gray1-color), inset 0px 1px 0px var(--gray1-color);
  padding: 8px 16px;
  cursor: pointer;
}

.tab--hover {
  color: var(--blue-color);
}

.tab--active {
  background-color: var(--white-color);
  color: var(--blue-color);
  box-shadow: inset 1px 0px 0px var(--blue-color),
    inset -1px 0px 0px var(--blue-color), inset 0px 1px 0px var(--blue-color);
}
