.header {
  background-color: var(--white-color);
  height: 112px;
  display: grid;
  place-items: center;
  border-bottom: 1px solid var(--gray5-color);
}

.header__img {
  height: 80px;
  width: 80px;
}
