.checkbox-element {
  display: flex;
  align-items: center;
  gap: 8px;
}

.checkbox_group--horizontal {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
}

.checkbox_group--vertical {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.checkbox_group__element {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.checkbox-group_content span {
  color: var(--red-color);
  font-family: var(--font-paragraph);
  font-size: 12px;
  line-height: 20px;
}

.input-text_content input {
  width: 256px;
  font-family: var(--font-paragraph);
  font-size: 16px;
  line-height: 24px;
  border: 1px solid var(--gray1-color);
  border-radius: 8px;
  padding: 8px;
}

.input-text_content input:focus {
  border: 1px solid var(--blue-color);
  box-shadow: 0px 0px 6px var(--blue-color);
  outline: none;
}

.input-text_content input:invalid {
  border: 1px solid var(--red-color);
  border-radius: 8px;
}

.input-text_content span {
  color: var(--red-color);
}

.dropdown_content {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.dropdown_content select {
  width: 256px;
  font-family: var(--font-paragraph);
  font-size: 16px;
  line-height: 24px;
  border: 1px solid var(--gray1-color);
  border-radius: 8px;
  padding: 8px;
}

.dropdown_content select:focus {
  border: 1px solid var(--blue-color);
  box-shadow: 0px 0px 6px var(--blue-color);
  outline: none;
}

.dropdown_content option {
  font-family: var(--font-paragraph);
  font-size: 16px;
  line-height: 24px;
}

.group_content {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.group_content label {
  font-family: var(--font-paragraph);
  font-size: 16px;
  line-height: 24px;
}

.group_content--column {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.group_content--inline {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.group_content span {
  color: var(--red-color);
  font-family: var(--font-paragraph);
  font-size: 12px;
  line-height: 20px;
}

.error input {
  border: 1px solid var(--red-color);
}
